
.table_wrapper{
    
    display: flex;
    justify-content: center;
    align-items: center;


.table_container{
   width: 80vw;
    height: 70vh;
    .tmph{
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
    }
    .tmpl1{
 
        position: sticky; 
        left: 0; 
        background-color: white;
    }
    .tmpl2{
    
        position: sticky; 
        left: 49px; 
        background-color: white;
    }
    .tmpl3{
     
        position: sticky; 
        left: 105px; 
        background-color: white;
    }
    .tmpr{

        position: sticky; 
        left: 0.1;
        z-index: 1;  
        background-color: white;
    }
    
    .tmpr1{
        
        position: sticky; 
        right: 0; 
        background-color: white;
    }
    .tmpr2{
       
        position: sticky; 
        right: 49px; 
        background-color: white;
    }
    
    .tmpr3{

        position: sticky; 
        right: 100px; 
        background-color: white;
    }

}
}

.image {
    width: 3vw;
}
