
.table_wrapper{
    
    display: flex;
    justify-content: center;
    align-items: center;


.table_container{
    width: 90vw;
    height: 50vh;
    .tmph{
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
    }
    .tmpl1{
 
        position: sticky; 
        left: 0; 
        //background-color: white;
        
    }
    .tmpl2_red{
    
        position: sticky; 
        left: 82px; 
       // background-color: red;
        color: red;
    }
    .tmpl2_black{
    
        position: sticky; 
        left: 82px; 
      //  background-color: red;
        color: black;
    }
    .tmpl3{
     
        position: sticky; 
        left: 164px; 
      //  background-color: blue;
    }
    .tmpl4{
     
        position: sticky; 
        left: 296px; 
      //  background-color: blue;
    }

    
    .tmpr1{
        
        position: sticky; 
        right: 0; 
     // background-color: white;
        
    }
    .tmpr2{
       
        position: sticky; 
        right: 82px; 
       //background-color: white;
    }
    
    .tmpr3{

        position: sticky; 
        right: 164px; 
       //background-color: white;
    }



}
}

.image {
    width: 3vw;
}
