.filter_date
{
    width: 200px;
    height:50px;
    
    border-radius: 5px;
    border: 3px solid gray;
    background-color: white;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}